.maindiv{
         background: Aquamarine;
         margin-top: 3%;
         display:flex;
         justify-content: space-between;

        }
.leftdiv{
         background: Bisque;
         height:90%;
         width:25%;
         border-radius: 5px;
         box-shadow: 4px 4px 4px 4px;
         position: fixed;
         text-align: center;
         margin: 3%;
}
.rightdiv{
         background: Aqua;
         height:100%;
         width:60%;
         border-radius: 5px;
         box-shadow: 4px 4px 4px 4px;
         text-align: center;
         margin-left: 35%;
        margin-top: 1%;
}
.img{
    height:40%;
    width:50%;
    margin:5%;
}
@media screen and (max-width:480px) {
  .maindiv{
           background: Aqua;display:inline-block;
         }
  .leftdiv{
           background:Bisque;
           position:relative;
           height:50%;
           width:100%;
           margin:0;
          }
  .rightdiv{
           background:Aquamarine;
           width:100%;
           margin:0;
           height:90%;
          }
}
@media screen and (min-width:481px) and (max-width:800px){
  .maindiv{
           background: Aquamar;
           display:inline-block;
         }
  .leftdiv{
           background:Aqua;
           position:relative;
           height:50%;
           width:100%;
           margin:0;
          }
  .rightdiv{
           background:Bisque;
           width:100%;
           margin:0;
           height:90%;
          }
}
